name: Scrape

on:
  workflow_dispatch:
    inputs:
      containerTag:
        default: "latest"
        required: false
      sendNewConfigToTg:
        type: boolean
        default: false
      DEBUG:
        default: "moneyman:*"

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - id: set-container-image
        run: echo "image=ghcr.io/${{ github.repository_owner }}/moneyman:latest" | tr '[:upper:]' '[:lower:]' >> $GITHUB_OUTPUT

      - name: Run scraper
        run: >
          docker run --rm
          -e MONEYMAN_CONFIG="$MONEYMAN_CONFIG"
          -e DEBUG="$DEBUG"
          -e TZ="Asia/Jerusalem"
          ${{ steps.set-container-image.outputs.image }}
        env:
          MONEYMAN_CONFIG: ${{ secrets.MONEYMAN_CONFIG }}
          DEBUG: ${{ github.event.inputs.DEBUG || 'moneyman:*' }}
